/* 菜单容器包装 */
#menu-wrapper {
	position: fixed;
	top: 20px;
	right: 20px;
	margin: 0px;
	z-index: 1000;
}

/* 菜单展开按钮 */
#menu-toggle-btn {
	position: absolute;
	right: 0px;
	display: flex;
	width: 48px;
	min-width: 48px;
	height: 48px;
	margin: 0px;
	padding: 0px;
	border-radius: 50%;
	background-color: var(--back-color);
	border: 1px solid var(--emphasize-color);
	align-items: center;
	justify-content: center;
	cursor: pointer;
	opacity: 1;
	transform: translateX(0%);
	transition: all 0.3s ease;
	box-shadow: 0 2px 8px rgb(from var(--front-color) r g b / 50%);
}
#menu-toggle-btn:hover {
	background-color: var(--emphasize-color);
	transform: scale(1.1);
	box-shadow: 0 4px 12px rgb(from var(--emphasize-color) r g b / 30%);
}
#menu-toggle-btn svg {
	color: var(--front-color);
}
#menu-toggle-btn:hover svg {
	color: var(--back-color);
}

/* 菜单容器 */
#action-menu {
	position: absolute;
	top: -10px;
	right: 0px;
	display: flex;
	flex-direction: row;
	gap: 10px;
	margin: 0px;
	padding: 10px;
	border-radius: 12px;
	background-color: var(--back-color);
	border: 1px solid var(--emphasize-color);
	box-shadow: 0 2px 8px rgb(from var(--front-color) r g b / 50%);
	opacity: 0;
	transform: translateX(100%);
	transition: all 0.3s ease;
}
#menu-wrapper #action-menu .menu-item {
	min-width: 48px;
	margin-left: 0px;
	margin-right: 0px;
}

/* 鼠标悬停在包装容器上时隐藏按钮，显示菜单 */
#menu-wrapper:hover #menu-toggle-btn {
	opacity: 0;
	transform: translateX(100%);
}
#menu-wrapper:hover #action-menu {
	opacity: 1;
	transform: translateX(0%);
}

/* 菜单项 */
.menu-item {
	display: inline-flex;
	width: 48px;
	height: 48px;
	margin: 0px;
	padding: 0px;
	border-radius: 50%;
	background-color: var(--back-color);
	border: 1px solid var(--emphasize-color);
	align-items: center;
	justify-content: center;
	cursor: pointer;
	transition: all 0.3s ease;
}
.menu-item:hover {
	background-color: var(--emphasize-color);
	transform: scale(1.1);
	box-shadow: 0 4px 12px rgb(from var(--emphasize-color) r g b / 30%);
}
.menu-item svg {
	color: var(--front-color);
}
.menu-item:hover svg {
	color: var(--back-color);
}

/* 主题切换按钮图标 */
#theme-toggle-btn.outside {
	position: fixed;
	top: 20px;
	right: 20px;
	z-index: 9999;
}
#theme-toggle-btn .sun-icon,
#theme-toggle-btn .moon-icon {
	display: none;
}

/* 源文件切换按钮图标 */
#source-toggle-btn .view-source-icon {
	display: block;
}
#source-toggle-btn .view-rendered-icon {
	display: none;
}
